<!-- begin profile -->
<div class="profile">
    <div class="profile-header">
        <!-- BEGIN profile-header-cover -->
        <div class="profile-header-cover"></div>

        <!-- <div *ngFor="let item of showUserProfileData"> -->

        <div class="profile-header-content" *ngIf="showUserProfileData">
            <!-- BEGIN profile-header-img -->
            <div class="profile-header-img">
                <img [src]="showUserProfileData.photo" alt="">
            </div>
            <!-- END profile-header-img -->
            <!-- BEGIN profile-header-info -->
            <div class="profile-header-info">
                <h4 class="mt-0 mb-1">{{showUserProfileData.name}}</h4>
                <p class="mb-2">{{showUserProfileData.address}}</p>
                <a class="btn btn-xs btn-yellow">{{showUserProfileData.role}}</a>
            </div>
            <!-- END profile-header-info -->
            <!-- </div> -->
        </div>

        <!-- END profile-header-content -->
        <!-- BEGIN profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-student-about" class="nav-link active" data-toggle="tab">About </a>
            </li>
            <!-- <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">Friends</a></li>
            <li class="nav-item"><a href="#profile-request" class="nav-link" data-toggle="tab">Request</a></li> -->


        </ul>
    </div>
</div>

<div class="profile-content">
    <div class="tab-content p-0">
        <div class="tab-pane fade show active" id="profile-student-about">
            <div *ngIf="showUserProfileData">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Write About Me</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Profile Picture -->
                            <div class="col-md-4">
                                <img [src]="showUserProfileData.photo" class="img-fluid rounded-circle"
                                    alt="Profile Picture">
                            </div>

                            <div class="col-md-8">
                                <h6>Personal Information</h6>
                                <p><strong>Name:</strong> {{showUserProfileData.name}}</p>
                                <p><strong>Email:</strong> {{showUserProfileData.email}}</p>
                                <p *ngIf="userRole == 'student'"><strong>Roll No:</strong>{{
                                    showUserProfileData.rollno}}</p>
                                <p><strong>Address:</strong> {{showUserProfileData.address}}</p>
                                <p><strong>Role:</strong> {{showUserProfileData.role}}</p>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>
                <div class="card mb-3"  *ngIf="userRole !== 'admin'" >
                    <div class="card-header">
                        <h5>About Me</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formProfile" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="photo">Profile Picture:</label>
                                <input type="file" id="photo" class="form-control" (change)="onFileChange($event)">
                            </div>
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="text" id="address" class="form-control" formControlName="address">
                            </div>
                            <div class="form-group">
                                <label for="biography">Biography:</label>
                                <textarea class="form-control" placeholder="Biography" id="biography" formControlName="biography" rows="3"></textarea>
                            </div>
                            <h4>Social Media</h4>
                            <div class="form-group">
                                <label for="facebook">Facebook:</label>
                                <input type="text" id="facebook" class="form-control" formControlName="facebook">
                            </div>
                            <div class="form-group">
                                <label for="instagram">Instagram:</label>
                                <input type="text" id="instagram" class="form-control" formControlName="instagram">
                            </div>
                            <div class="form-group">
                                <label for="whatsapp">WhatsApp:</label>
                                <input type="text" id="whatsapp" class="form-control" formControlName="whatsapp">
                            </div>
                            <div class="form-group">
                                <label for="website">Website:</label>
                                <input type="text" id="website" class="form-control" formControlName="website">
                            </div>
                            <!-- <div class="form-group">
                                <label for="rollno">Roll No:</label>
                                <input type="text" id="rollno" class="form-control" formControlName="rollno">
                            </div> -->
                            <button type="submit" class="btn btn-primary">Save Profile</button>
                        </form>
                    </div>
                    
                </div>


            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="submitProfileForm(showUserProfileData._id)">Save</button> -->
            <div class="card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()">
                      <div class="row" *ngIf="showUserProfileData">
                        <div class="col-lg-6 mb-3">
                          <input type="password" formControlName="oldpassword" placeholder="Enter the old password" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                          <input type="password" formControlName="password" placeholder="Enter the new password" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                          <input type="password" formControlName="confirmPassword" placeholder="Enter the Confirm Password" class="form-control">
                        </div>
                        <div class="col-lg-12 mb-3">
                          <button type="submit" class="btn btn-primary my-2" [disabled]="changePasswordForm.invalid">Change Password</button>
                        </div>
                      </div>
                    </form>
                  </div>
                <hr>

            </div>
        </div>


    </div>

</div>