<div class="login-wrapper">
  <div class="background-image"></div>

  <div class="glass-card">
    <div class="text-center mb-4">
     <a href="/" style="text-decoration: none;"> <h1 class="fw-bold text-white">CampusEase</h1></a>
      <p class="text-white-50">A College Automation System</p>
    </div>

    <form [formGroup]="loginForm">
      <div class="form-group mb-3">
        <input formControlName="email" type="text" class="form-control" placeholder="Email" required />
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger">Email is required.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']" class="text-danger">Invalid email format.</small>
        </div>
      </div>

      <div class="form-group mb-4">
        <input formControlName="password" type="password" class="form-control" placeholder="Password" required />
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required.</small>
        </div>
      </div>


      <button type="submit" class="btn btn-success w-100 py-2" (click)="loginButton()" style="background-color: blue;">Login</button>
      </form>

        <!-- <div class="text-end mb-3">
          <a [routerLink]="['/reset-password']" class="text-info" style="text-decoration: none;">
           Forgot Password?
          </a>
          </div> -->



    <div class="text-center text-white mt-3">
      Want to be a new member? <a href="/registration-page" class="text-info" style="text-decoration: none;">Click here</a>
    </div>

    <hr class="bg-light" />

    <p class="text-center text-white-50 mt-3 mb-0">&copy; CampusEase All Rights Reserved 2025</p>
  </div>
</div>
