<!-- login.component.html -->
<div class="login-wrapper">
  <div class="overlay"></div>

  <div class="form-container glass-card">
    <h1 class="text-center mb-4 fw-bold" style="color: rgb(255, 255, 255);">CampusEase</h1>

    <form [formGroup]="loginForm" (ngSubmit)="loginButton()">
      <div class="form-group">
        <input
          type="text"
          formControlName="email"
          placeholder="Email"
          class="form-control"
        />
        <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          Invalid email
        </small>
      </div>

      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="form-control"
        />
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Password required
        </small>
      </div>

      <button type="submit" class="btn btn-submit">Login</button>
    </form>

    <div class="text-center mt-3">
      Not a member? <a routerLink="/registration-page">Register</a>
    </div>
  </div>
</div>
