<div class="assignment-dashboard">
  <div class="dashboard-header">
    <h2>Assignment Records</h2>
    <!-- <p class="subtitle">View all submitted assignments</p> -->
  </div>

  <div class="assignment-table-container">
    <div class="table-responsive">
      <table class="assignment-table">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Subject</th>
            <th scope="col">Roll No</th>
            <th scope="col">Assignment</th>
            <th scope="col">Submission</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getAssignmentsBySubjectData | paginate: { itemsPerPage: 10, currentPage: page }; let i = index">
            <td class="serial-number">{{i + 1 + (page - 1) * 10}}</td>
            <td class="subject-name">{{item.subject}}</td>
            <td class="student-id">{{item.rollno}}</td>
            <td class="assignment-name">{{item.assignment}}</td>
            <td class="submission-file">
              <a [href]="item.assignmentFile" target="_blank" download class="file-link">
                <span class="file-icon">
                  <i class="fas fa-file-alt"></i>
                </span>
                <span class="file-text">View Submission</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


</div>
