<div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card my-4">
        <div class="card-body  text-center">
          <h5 class="card-title">
            Feedback
          </h5>
          <form class="row" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <div class="col-lg-6 mb-4">
              <select class="form-select" id="feedback-group" formControlName="feedbackGroup">
                <option selected value="Admin">Admin</option>
                <option value="Teacher">Teacher</option>
              </select>
            </div>
            <div class="col-lg-6 mb-4">
              <select class="form-select" id="feedback-group" *ngIf="feedbackForm.get('feedbackGroup')?.value === 'Teacher'" formControlName="feedbackFor">
                <option value="" disabled selected>Select Teacher Name</option>
                <option *ngFor="let item of showTeacherData" [value]="item.email">{{item.name}}</option>

              </select>
            </div>

            <div class="col-lg-12 mb-4">
              <textarea class="form-control" placeholder="Feedback" id="feedback_about" formControlName="feedbackAbout"
                rows="3"></textarea>
            </div>
            <div class="col-lg-12 mb-4">
              <button type="submit" class="btn btn-primary mb-4" [disabled]="feedbackForm.invalid">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Feedback Data</h5>
          </div>
      
            <div class="card-body">
              <div class="table-responsive">
                <table class="table ">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">SN</th>
                      <th scope="col">For</th>
                      <th scope="col">Feedback</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of feedbackTableRoleData; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.feedbackFor }}</td>
                      <td>{{ item.feedbackAbout }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="container mt-4">
        <h2 class="mb-4">Feedback Given</h2>
        <button class="btn btn-primary mb-3">Print Table</button>
        <div class="table-responsive">
          <table class="table table-bordered table-striped" id="clubTable">
            <thead class="thead-dark">
              <tr>
                <th>SN</th>
                <th>Role</th>
                <th>Feedback For</th>
                <th>Feedback</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of FeedbackByEmailList | paginate: { itemsPerPage: 10, currentPage: currentPage }; let i = index">
                <td>{{ (currentPage - 1) * 10 + i + 1 }}</td>
                <td>{{ item.feedbackGroup }}</td>
                <td>{{ item.feedbackFor }}</td>
                <td>{{ item.feedbackAbout }}</td>
                <td>
                  <button type="button" class="btn btn-outline-danger mx-2" (click)="deleteFeedback(item._id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
  
</div>