<div class="register-wrapper">
  <div class="background-image"></div>
  <div class="glass-card">
    <div class="text-center mb-4">
      <a href="/" style="text-decoration: none;"> <h1 class="fw-bold text-white">CampusEase</h1></a>
    </div>

    <form>
      <label class="text-white">Name <span class="text-danger">*</span></label>
      <div class="row mb-3">
        <div class="col-md-6 mb-2">
          <input type="text" class="form-control" placeholder="First name" required />
        </div>
        <div class="col-md-6 mb-2">
          <input type="text" class="form-control" placeholder="Last name" required />
        </div>
      </div>

      <label class="text-white">Email <span class="text-danger">*</span></label>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email address" required />
      </div>


      <label class="text-white">Password <span class="text-danger">*</span></label>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" required />
      </div>


      <button type="submit" class="btn btn-success w-100 py-2">Sign Up</button>

      <div class="text-white mt-3">
        Already a member? <a href="/login" class="text-info" style="text-decoration: none;">Click here</a> to login.
      </div>

      <hr class="bg-light" />

      <p class="text-center text-white-50 mb-0">&copy; CampusEase All Rights Reserved 2025</p>
    </form>
  </div>
</div>
