<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-teal">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-user-graduate fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Student</div>
                    <div class="stats-number">{{showStudentCount}}</div>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 ">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-chalkboard-teacher fa-fw"></i></div>
                <div class="stats-content ">
                    <div class="stats-title">Total Teacher</div>
                    <div class="stats-number">{{showTeacherCount}}</div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-indigo">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-users fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Club/Parties</div>
                    <div class="stats-number">{{showSecretaryCount}}</div>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-dark">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
                <div class="stats-content">
                    <div class="stats-title">Total Subjects</div>
                    <div class="stats-number">{{subjectListCount}}</div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-title text-center">
                    Create User
                </h5>
                <div class="card-body">
                  <form [formGroup]="userForm" (ngSubmit)="createUser()" class="row">
                    <!-- Name Input -->
                    <div class="col-lg-6 mb-4">
                      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name" required>
                      <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)">
                        <small *ngIf="userForm.get('name')?.errors?.['required']" class="text-danger">Name is required.</small>
                        <small *ngIf="userForm.get('name')?.errors?.['pattern']" class="text-danger">Name can only contain letters and spaces.</small>
                      </div>
                    </div>
                    <!-- Email Input -->
                    <div class="col-lg-6 mb-4">
                      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
                      <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
                        <small *ngIf="userForm.get('email')?.errors?.['required']" class="text-danger">Email is required.</small>
                        <small *ngIf="userForm.get('email')?.errors?.['email']" class="text-danger">Email is invalid.</small>
                      </div>
                    </div>
                    <!-- Password Input -->
                    <div class="col-lg-6 mb-4">
                      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
                      <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">
                        <small *ngIf="userForm.get('password')?.errors?.['required']" class="text-danger">Password is required.</small>
                        <small *ngIf="userForm.get('password')?.errors?.['minlength']" class="text-danger">Password must be at least 6 characters long.</small>
                      </div>
                    </div>
                    <!-- Confirm Password Input -->
                    <div class="col-lg-6 mb-4">
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                      <div *ngIf="userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)">
                        <small *ngIf="userForm.get('confirmPassword')?.errors?.['required']" class="text-danger">Confirm Password is required.</small>
                        <small *ngIf="userForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-danger">Passwords do not match.</small>
                      </div>
                    </div>
                    <!-- Address Input -->
                    <div class="col-lg-6 mb-4">
                      <input type="text" id="address" formControlName="address" class="form-control" placeholder="Address" required>
                      <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.dirty || userForm.get('address')?.touched)">
                        <small *ngIf="userForm.get('address')?.errors?.['required']" class="text-danger">Address is required.</small>
                      </div>
                    </div>
                    <!-- Role Select -->
                    <div class="col-lg-6 mb-4">
                      <select id="role" class="form-control" formControlName="role">
                        <option value="" disabled selected>Select Role</option>
                        <option value="student">Student</option>
                        <option value="faculty">Faculty</option>
                        <option value="secretary">Secretary</option>
                        <!-- <option value="admin">Admin</option> -->
                      </select>
                      <div *ngIf="userForm.get('role')?.invalid && (userForm.get('role')?.dirty || userForm.get('role')?.touched)">
                        <small *ngIf="userForm.get('role')?.errors?.['required']" class="text-danger">Role is required.</small>
                      </div>
                    </div>
                    <!-- Roll Number Input based on Role -->
                    <div class="col-lg-6 mb-4" *ngIf="userForm.get('role')?.value">
                      <ng-container *ngIf="userForm.get('role')?.value === 'student'; else nonStudent">
                        <label for="rollno">Roll Number</label>
                      </ng-container>
                      <ng-template #nonStudent>
                        <ng-container *ngIf="userForm.get('role')?.value === 'faculty'; else nonFaculty">
                          <label for="rollno">Teacher ID</label>
                        </ng-container>
                        <ng-template #nonFaculty>
                          <label for="rollno" *ngIf="userForm.get('role')?.value === 'secretary'">Secretary Number</label>
                          <label for="rollno" *ngIf="userForm.get('role')?.value === 'admin'">Admin Number</label>
                        </ng-template>
                      </ng-template>
                      <input type="number" id="rollno" formControlName="rollno" class="form-control" placeholder="Roll Number" min="0" >
                      <div *ngIf="userForm.get('rollno')?.invalid && (userForm.get('rollno')?.dirty || userForm.get('rollno')?.touched)">
                        <small *ngIf="userForm.get('rollno')?.errors?.['required']" class="text-danger">Roll Number is required.</small>
                        <small *ngIf="userForm.get('rollno')?.errors?.['min']" class="text-danger">Roll Number cannot be negative.</small>
                      </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="col-lg-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                  
                </div>

            </div>

        </div>




    </div>

    <div class="row">
  <!-- ================== TEACHER TABLE ================== -->
  <div class="col-lg-12">
    <div class="card mb-4">
      <h5 class="card-title text-center mt-3">Teachers</h5>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>SN</th>
              <th>Name</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of showTeacherData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>
                <!-- <button class="btn btn-primary"><i class="fas fa-edit"></i></button> -->
                <button class="btn btn-outline-primary mx-2" (click)="deleteTeacher(item._id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- ================== STUDENT TABLE ================== -->
<div class="col-lg-12">
  <div class="card mb-4">
    <h5 class="card-title text-center mt-3">Students</h5>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roll No</th>
            <th>Action</th>  <!-- Added Action column -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of showStudentData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.rollno }}</td>
            <td>
              <!-- <button class="btn btn-primary" (click)="editStudent(student)"><i class="fas fa-edit"></i></button> -->
              <button class="btn btn-outline-primary mx-2" (click)="deleteStudent(student._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ================== SECRETARY TABLE ================== -->
<div class="col-lg-12">
  <div class="card mb-4">
    <h5 class="card-title text-center mt-3">Secretaries</h5>
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Email</th>
            <th>Club (if available)</th>
            <th>Action</th> <!-- Added Action column -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let secretary of showSecretaryData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ secretary.name }}</td>
            <td>{{ secretary.email }}</td>
            <td>{{ secretary.club || 'N/A' }}</td>
            <td>
              <!-- <button class="btn btn-primary" (click)="editSecretary(secretary)"><i class="fas fa-edit"></i></button> -->
              <button class="btn btn-outline-primary mx-2" (click)="deleteSecretary(secretary._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>

</div>