<div class="row">
    <h5 class="text-center">List Course</h5>

    <div class="col-lg-12">
        <div class="carda">


            <div class="cards-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th>SN</th>
                          <th>Enrollment Key</th>
                            <th>Semester</th>
                          <th>Subject</th>
                          <th>Course Code</th>
                          <th>Course Credit</th>
                          <th>Teacher</th>
                          <th>Action</th>
                          <!-- <th>Delete</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd gradeX" *ngFor="let item of listData let i =index">
                          <td class="f-s-600 text-inverse">{{ i + 1 }}</td>
                          <td>{{ item.enrollment_key }}</td>
                          <td>{{ item.semester }}</td>
                          <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let subject of item.subjects" class="mb-2">{{ subject.name }}</li></ul>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let subject of item.subjects"  class="mb-2">{{ subject.code }}</li></ul>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let subject of item.subjects" class="mb-2" >{{ subject.credit }}</li></ul>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let subject of item.subjects" class="mb-2">{{ subject.teacher }}</li></ul>
                          </td>
                          <td>
                            <ul class="list-unstyled">
                                <li *ngFor="let subject of item.subjects">

                                    <button class="btn btn-outline-danger btn-sm"
                                        (click)="deleteSubject(item._id,subject.code)"><i class="fas fa-trash-alt"></i></button>
                                </li>
                            </ul>
                        </td>
                          <!-- <td>
                            <button class="btn btn-danger" (click)="deleteEnrollData(item._id)">Delete Enrollment</button>
                       
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                <!-- <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>SN</th>
                            <th>Enrollment Key</th>
                            <th>Subject</th>
                            <th>Course Code</th>
                            <th>Course Credit</th>
                            <th>Teacher</th>
                            <th></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" *ngFor="let item of listData let i =index">
                            <td class="f-s-600 text-inverse">1</td>
                            <td>{{item.enrollment_key}}</td>

                            <td>
                                <ul>
                                    <li *ngFor="let subject of item.subjects">{{ subject.name }}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li *ngFor="let subject of item.subjects">{{ subject.code }}


                                    </li>
                                </ul>
                            </td>
                            <td>
                                <dl>
                                    <li *ngFor="let subject of item.subjects">{{ subject.credit }}</li>
                                </dl>
                            </td>
                            <td>
                                <dl>
                                    <li *ngFor="let subject of item.subjects">{{ subject.teacher }}</li>
                                </dl>
                            </td>
                            <td>
                                <dl>
                                    <li *ngFor="let subject of item.subjects">

                                        <button class="btn btn-outline-secondary"
                                            (click)="deleteSubject(item._id,subject.code)">Delete</button>
                                    </li>
                                </dl>
                            </td>
                            <td>
                                <button class="btn btn-outline-secondary"
                                    (click)="deleteEnrollData(item._id)">Delete</button>
                            </td>

                        </tr>


                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</div>