<div class="course-table-container">
  <h3 class="table-title">Course List</h3>

  <div class="table-wrapper">
    <table class="course-data-table">
      <thead>
        <tr>
          <th class="serial-col">SN</th>
          <th class="key-col">Enrollment Key</th>
          <th class="semester-col">Semester</th>
          <th class="subject-col">Subject</th>
          <th class="code-col">Course Code</th>
          <th class="credit-col">Credit</th>
          <th class="teacher-col">Teacher</th>
          <th class="actions-col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData; let i = index">
          <td class="serial-col">{{ i + 1 }}</td>
          <td class="key-col">
            <span class="enrollment-key">{{ item.enrollment_key }}</span>
          </td>
          <td class="semester-col">{{ item.semester }}</td>

          <td class="subject-col">
            <div class="subject-cell" *ngFor="let subject of item.subjects">
              {{ subject.name }}
            </div>
          </td>

          <td class="code-col">
            <div class="code-cell" *ngFor="let subject of item.subjects">
              {{ subject.code }}
            </div>
          </td>

          <td class="credit-col">
            <div class="credit-cell" *ngFor="let subject of item.subjects">
              {{ subject.credit }}
            </div>
          </td>

          <td class="teacher-col">
            <div class="teacher-cell" *ngFor="let subject of item.subjects">
              {{ subject.teacher }}
            </div>
          </td>

          <td class="actions-col">
            <div class="action-cell" *ngFor="let subject of item.subjects">
              <button class="delete-btn"
                      (click)="deleteSubject(item._id, subject.code)"
                      title="Delete subject">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
